{% load static %}
<div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
</div>
<form>
    {% csrf_token %}
    <div class="modal-body">
        <div class="mb-3" id="modal-id">
            <label for="libfamillerisk" class="form-label">Pole </label>
            <input type="text" id="libfamillerisk" name="libpole" value="{{data.libpole}}" class="form-control" placeholder="Pole" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="libfamillerisk" class="form-label">Manager </label>
            <input type="text" id="libfamillerisk" name="managerpole" value="{{data.managerpole}}" class="form-control" placeholder="Manager" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="libfamillerisk" class="form-label">Filiale </label>
            <input type="text" id="libfamillerisk" name="idfiliale" value="{{data.idfiliale}}" class="form-control" placeholder="Filiale" />
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
            {% if not data %}
                <button type="submit" data-bs-dismiss="modal" class="btn btn-success" id="add-btn" hx-post="{% url 'services:add_pole' %}" hx-indicator="#loader">Ajouter</button>
            {% else %}
                <button type="button" data-bs-dismiss="modal" class="btn btn-success" hx-post="{% url 'services:edit_pole' pk=data.idpole %}" hx-indicator="#loader" id="edit-btn">modifier</button>
            {% endif %}
        </div>
    </div>
</form>