{% extends 'base_form_modal.html' %}
{% block form_modal %}
    <div class="mb-3" id="modal-id">
        <label for="titre_doc" class="form-label">Titre du document </label>
        <input type="text" id="titre_doc" name="titre_doc" value="{{data.titre_doc}}" class="form-control" placeholder="Titre" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="ref_document" class="form-label">Référence </label>
        <input type="text" id="ref_document" name="ref_document" value="{{data.ref_document}}" class="form-control" placeholder="Reférence" />
    </div>
{% endblock form_modal %}
