{% extends 'base_form_modal.html' %}
{% block form_modal %}
    <div class="mb-3" id="modal-id">
        <label for="libprocessus" class="form-label"> Processus </label>
        <input type="text" id="libprocessus" name="libprocessus" value="{{data.libprocessus}}" class="form-control" placeholder="Processus" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="piloteprocessus" class="form-label"> Pilote </label>
        <input type="text" id="piloteprocessus" name="piloteprocessus" value="{{data.piloteprocessus}}" class="form-control" placeholder="Pilote" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="idpole" class="form-label"> Pole </label>
        <select class="custom-select" aria-label="Default select example" name="idpole">
            {% if not data.idpole %}
                <option selected>--------------</option>
                {% for pole in data_list_pole %}
                    <option value="{{ pole.idpole }}" >{{ pole.libpole }}</option>
                    {% empty %}
                        <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% else %}
                <option value="">--------------</option>
                {% for pole in data_list_pole %}
                    <option value="{{ pole.idpole }}" {% if data.idpole == pole.idpole %}selected{% endif %} >{{ pole.libpole }}</option>
                {% empty %}
                    <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% endif %}
        </select>
    </div> 
{% endblock form_modal %}
