<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
            </div>
            <form>
                <div class="modal-body">
                    {% for key in key_list %}
                        <div class="mb-3" id="modal-id" style="display: none;">
                            <label for="id-field" class="form-label">{{key}}</label>
                            <input type="text" id="id-field" class="form-control" placeholder="{{key}}" readonly />
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-success" id="edit-btn">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>