/* Onglet gÃ©nÃ©ral */
.nav-link.general-tab.active {
    background-color: #105A90;
    color: white;
  }

  .nav-link.general-tab {
    color: black;
  }

  .my_first_divider{
    border-top: 2px solid #105A90;
  }
  /* Onglet finance */
  .nav-link.finance-tab.active {
    background-color: #105A90;
    color: white;
  }

  .nav-link.finance-tab {
    color: black;
  }

  .my_second_divider{
    border-top: 2px solid #105A90;
  }

  /* Onglet douane */
  .nav-link.douane-tab.active {
    color: white;
    background-color: #105A90;
  }

  .nav-link.douane-tab {
    color: black;
  }

  .my_third_divider{
    border-top: 2px solid #105A90;
  }

  /* Onglet apurement */
  .nav-link.apurement-tab.active {
    color: white;
    background-color: #105A90;
  }

  .nav-link.apurement-tab {
    color: black;
  }

  .my_fourth_divider{
    border-top: 2px solid #105A90;
  }

  /* Onglet autres */
  .nav-link.autres-tab.active {
    color: white;
    background-color: #105A90;
  }

  .nav-link.autres-tab {
    color: black;
  }

  .my_fifth_divider{
    border-top: 2px solid #105A90;
  } 

  /**/
.card-primary.card-outline {
    border-top: 3px solid #105A90;
}

.nav-tabs.flex-column {
  border-bottom: 0;
  border-right: 1px solid #105A90;
}


.content_both{
  display:flex;
}

.vertical_center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.my_divider{
  background-color: gainsboro;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.content_button_input{
  width: 100%;
  display: flex;
  
}

.content_button_only{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

[class*="sidebar-dark-"] .sidebar a {
	color: #c2c7d0;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {

  background-color: rbga(255, 255, 255, 0);
}
