{% load static %}
<div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
</div>
<form>
    {% csrf_token %}
    <div class="modal-body">
        <div class="mb-3" id="modal-id">
            <label for="username" class="form-label">Code utilisateur</label>
            <input type="text" id="username" name="username" value="{{data.username}}" class="form-control" placeholder="Code Utilisateur" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="last_name" class="form-label">Nom</label>
            <input type="text" id="last_name" name="last_name" value="{{data.last_name}}" class="form-control" placeholder="Nom" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="first_name" class="form-label">Prenom</label>
            <input type="text" id="first_name" name="first_name" value="{{data.first_name}}" class="form-control" placeholder="Prénom" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" name="email" value="{{data.email}}" class="form-control" placeholder="Email" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="idprofil_user" class="form-label">Profil</label>
            <select class="form-select" aria-label="Default select example" name="idprofil_user">
                {% if not data.idprofil_user %}
                    <option value="" selected>--------------</option>
                    {% for profil in profilList %}
                        <option value="{{ profil.idprofil_user }}" >{{ profil.lib_profil_user }}</option>
                    {% empty %}
                        <option value="">Pas d'elements trouvés</option>
                    {% endfor %}
                {% else %}
                    {% for profil in profilList %}
                        <option value="{{ profil.idprofil_user }}" {% if data.idprofil_user.idprofil_user == profil.idprofil_user %}selected{% endif %} >{{ profil.lib_profil_user }}</option>
                    {% empty %}
                        <option value="">Pas d'elements trouvés</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="mb-3" id="modal-id">
            <label for="idfiliale" class="form-label">Filiale</label>
            <select class="form-select" aria-label="Default select example" name="idfiliale">
                {% if not data.idfiliale %}
                    <option selected>--------------</option>
                    {% for filiale in filialeList %}
                        <option value="{{ filiale.idfiliale }}" >{{ filiale.sigle_filiale }}</option>
                    {% empty %}
                        <option value="">Pas d'elements trouvés</option>
                    {% endfor %}
                {% else %}
                    {% for filiale in filialeList %}
                        <option value="{{ filiale.idfiliale }}" {% if data.idfiliale.idfiliale == filiale.idfiliale %}selected{% endif %} >{{ filiale.sigle_filiale }}</option>
                    {% empty %}
                        <option value="">Pas d'elements trouvés</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
            {% if not data %}
                <button type="submit" data-bs-dismiss="modal" class="btn btn-success" id="add-btn" hx-post="{% url 'services:add_utilisateurs' %}" hx-indicator="#loader">Ajouter</button>
            {% else %}
                <button type="button" data-bs-dismiss="modal" class="btn btn-success" hx-post="{% url 'services:edit_utilisateurs' pk=data.idutilisateurs %}" hx-indicator="#loader" id="edit-btn">modifier</button>
            {% endif %}
        </div>
    </div>
</form>