{% for item in data_list %}
    <tr  id="movie-{{ item.pk }}">
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
            </div>
        </th>
        <td class="text"> {% if item.username %} {{ item.username }} {% else %} - {% endif %} </td>
        <td class="text"> {% if item.last_name %} {{ item.last_name }} {% else %} - {% endif %} </td>
        <td class="text"> {% if item.first_name %} {{ item.first_name }} {% else %} - {% endif %} </td>
        <td class="text"> {% if item.email %} {{ item.email }} {% else %} - {% endif %} </td>
        {% if item.idprofil_user == 1 %}
            <td class="text">ADMIN</td>
        {% elif item.idprofil_user == 2 %}
            <td class="text">AUDITEUR</td>
        {% elif item.idprofil_user == 3 %}
            <td class="text">RMO</td>
        {% else %}
            <td class="text"></td>
        {% endif %}
        {% if item.idfiliale == 1 %}
            <td class="text">BGFIGA</td>
        {% elif item.idfiliale == 2 %}
            <td class="text">BGFICM</td>
        {% else %}
            <td class="text"></td>
        {% endif %}
        <td>
            <div class="d-flex gap-2">
                <div class="edit">
                    <button class="btn btn-sm btn-success edit-item-btn" hx-get="{% url 'services:edit_utilisateurs' pk=item.idutilisateurs %}" hx-target="#edit_data"  data-bs-toggle="modal" data-bs-target="#showModal">Modifier</button>
                </div>
                <div class="reset_password">
                    <button class="btn btn-sm btn-warning reset-item-btn" hx-get="{% url 'services:reset_password' pk=item.idutilisateurs %}" hx-target="#reset_data" data-bs-toggle="modal" data-bs-target="#resetPasswordModal">réinitialiser</button>
                </div>
                <div class="remove">
                    <button class="btn btn-sm btn-danger remove-item-btn" hx-get="{% url 'services:del_utilisateurs' pk=item.idutilisateurs %}" hx-target="#delete_data" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Supprimer</button>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}