{% for item in data_list %}
    <tr  id="movie-{{ item.pk }}">
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
            </div>
        </th>
        <td class="date">{{ item.lib_competences }}</td>
        <td class="date">
            {% for utilisateur in utilisateurs %}
                {% if utilisateur.idprofil_user == 2 %}
                    {{ utilisateur.username }}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            <div class="d-flex gap-2">
                <div class="edit">
                    <button class="btn btn-sm btn-success edit-item-btn" hx-get="{% url 'services:edit_matrice_de_competence_param' pk=item.idcompetences %}" hx-target="#edit_data"  data-bs-toggle="modal" data-bs-target="#showModal">Modifier</button>
                </div>
                <div class="remove">
                    <button class="btn btn-sm btn-danger remove-item-btn" hx-get="{% url 'services:del_matrice_de_competence_param' pk=item.idcompetences %}" hx-target="#delete_data" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Supprimer</button>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}