{% extends 'base_form_modal.html' %}
{% block form_modal %}
    <div class="mb-3" id="modal-id">
        <label for="coderisk" class="form-label">Risque </label>
        <input type="text" id="coderisk" name="coderisk" value="{{data.coderisk}}" class="form-control" placeholder="Risque" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="sigle_filiale" class="form-label">Filiale</label>
        <select class="custom-select" aria-label="Default select example" name="idfiliale">
            {% if not data.idfiliale %}
                {% for filiale in data_filiale_list %}
                    <option value="{{ filiale.idfiliale }}" >{{ filiale.sigle_filiale }}</option>
                {% empty %}
                    <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% else %}
                <option value="">--------------</option>
                {% for filiale in data_filiale_list %}
                    <option value="{{ filiale.idfiliale }}" {% if data.idfiliale == filiale.idfiliale %}selected{% endif %} {% if filiale_courante == filiale.sigle_filiale %}selected{% endif %} >{{ filiale.sigle_filiale }}</option>
                {% empty %}
                    <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
{% endblock form_modal %}
