{% for item in data_list %}
    <tr  id="movie-{{ item.pk }}">
        <th scope="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
            </div>
        </th>
        <td class="align-middle">{{ item.coderisk }}</td>
        <td class="align-middle">{{ item.sigle_filiale }}</td>
        <td>
            <div class="d-flex gap-2">
                <div class="edit">
                    <button class="btn btn-success btn-sm" hx-get="{% url 'services:edit_risques' pk=item.idrisque %}" hx-target="#dialog">Modifier</button>
                </div>
                <div class="remove">
                    <button class="btn btn-sm btn-danger remove-item-btn" hx-get="{% url 'services:del_risques' pk=item.idrisque %}" hx-target="#dialog" >Supprimer</button>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}