{% extends 'base_form_modal.html' %}
{% block form_modal %}
    <div class="mb-3" id="modal-id">
        <label for="code_categorie" class="form-label">Code catégorie</label>
        <input type="text" id="code_categorie" name="code_categorie" value="{{data.code_categorie}}" class="form-control" placeholder="Code catégorie" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="lib_categorie" class="form-label">Libelle </label>
        <input type="text" id="lib_categorie" name="lib_categorie" value="{{data.lib_categorie}}" class="form-control" placeholder="Libelle" />
    </div> 
{% endblock form_modal %}
