{% load static %}
<div class="modal-header bg-light p-3">
    <h5 class="modal-title" id="exampleModalLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
</div>
<form>
    {% csrf_token %}
    <div class="modal-body">
        <div class="mb-3" id="modal-id">
            <label for="code_categorie" class="form-label">Code catégorie</label>
            <input type="text" id="code_categorie" name="code_categorie" value="{{data.code_categorie}}" class="form-control" placeholder="Code catégorie" />
        </div>
        <div class="mb-3" id="modal-id">
            <label for="lib_categorie" class="form-label">Libelle </label>
            <input type="text" id="lib_categorie" name="lib_categorie" value="{{data.lib_categorie}}" class="form-control" placeholder="Libelle" />
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
            {% if not data %}
                <button type="submit" data-bs-dismiss="modal" class="btn btn-success" id="add-btn" hx-post="{% url 'services:add_categories_de_documents' %}" hx-indicator="#loader">Ajouter</button>
            {% else %}
                <button type="button" data-bs-dismiss="modal" class="btn btn-success" hx-post="{% url 'services:edit_categories_de_documents' pk=data.idcategorie_doc %}" hx-indicator="#loader" id="edit-btn">modifier</button>
            {% endif %}
        </div>
    </div>
</form>