{% extends 'base.html' %}
{% load static %}
{% block title %} Changement de mot de passe {% endblock %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- end page title -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="card ">
                        <div class="card-header">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Changer de mot de passe</h1>
                                <p class="mb-5">Veillez renseigner les informations requises</p>
                            </div>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <form action="{% url 'services:change_password' %}" method="post">
                                {% csrf_token %}
                                <p>
                                    <label for="id_old_password">Ancien mot de passe&nbsp;:</label>
                                    <input type="password" name="old_password" autofocus="" class="form-control form-control-user" required="" id="id_old_password">
                                </p>
                                <p>
                                    <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
                                    <input type="password" name="new_password1" class="form-control form-control-user" required="" id="id_new_password1">
                                    <span class="helptext"></span>
                                </p>
                                <ul>
                                    <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                    <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                    <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                    <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                                </ul>
                                <p></p>
                                <p>
                                    <label for="id_new_password2">Confirmation du nouveau mot de passe&nbsp;:</label>
                                    <input type="password" name="new_password2" autocomplete="new-password" class="form-control form-control-user" required="" id="id_new_password2">
                                </p>
                                <hr class="mt-3" />
                                <div class="gap-2 d-md-flex justify-content-md-end">
                                    <a href="{% url 'services:profil' %}" class="btn btn-danger me-md-2 m-1" type="button">← Profil</a>
                                    <button class="btn btn-primary m-1" type="submit">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
{% endblock %}