{% extends 'base.html' %}
{% load static %}
{% block title %} Changement de mot de passe {% endblock %}
{% block central %}
<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Changement de mot de passe</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Changement du mot de passe</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="container ">
            <div class="col-6 position-relative">
                <div class="card ">
                    <div class="card-header">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">Changer de mot de passe</h1>
                            <p class="mb-5">Veillez renseigner les informations requises</p>
                        </div>
                    </div><!-- end card header -->
                    <div class="card-body">
                        <form method="POST" action="{% url 'services:change_password' %}">
                            <p>
                                <label for="id_old_password">Ancien mot de passe&nbsp;:</label>
                                <input type="password" name="old_password" autocomplete="current-password" autofocus="" class="form-control form-control-user" required="" id="id_old_password">
                            </p>
                            <p>
                                <label for="id_new_password1">Nouveau mot de passe&nbsp;:</label>
                                <input type="password" name="new_password1" autocomplete="new-password" class="form-control form-control-user" required="" id="id_new_password1" aria-autocomplete="list">
                                <span class="helptext"></span></p>
                            <ul>
                                <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                            </ul>
                            <p></p>
                            <p>
                                <label for="id_new_password2">Confirmation du nouveau mot de passe&nbsp;:</label>
                                <input type="password" name="new_password2" autocomplete="new-password" class="form-control form-control-user" required="" id="id_new_password2">
                            </p>
                            <div class="form-row">
                                <div class="col">
                                    <a href="{% url 'services:profil' %}" class="btn btn-danger btn-user btn-block mt-4">← Profil</a>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-user btn-block mt-4">Valider</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
{% endblock %}