{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <!-- end page title -->
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary text-center">{{ userName }}</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="text-center mt-2">
                                    <img src="{% static 'img/photo_profil.png' %}" class="rounded-circle img-fluid mb-4" alt="photo de profil" width="200px">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <table class="table">
                                    {% if nom %}
                                        <tr>
                                            <td class=""><b>Nom</b></td>
                                            <td class="align-bottom">&emsp;&emsp;{{ nom }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if prenom %}
                                        <tr>
                                            <td class=""><b>Prénom</b></td>
                                            <td class="align-bottom">&emsp;&emsp;{{ prenom }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if userRole %}
                                        <tr>
                                            <td class=""><b>Profile</b></td>
                                            <td class="align-bottom">&emsp;&emsp;{{ userRole }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if email %}
                                        <tr>
                                            <td class=""><b>Email</b></td>
                                            <td class="align-bottom">&emsp;&emsp;{{ email }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <a href="{% url 'services:change_password' %}" class="btn btn-primary btn-user mt-4">Changer de mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
{% endblock %}