{% for item in data_list %}
    <tr  id="movie-{{ item.pk }}">
        <th scope="row">
        </th>
        <td class="align-middle">{{ item.code_mission }}</td>
        <td class="align-middle">{{ item.intitule_mission }}</td>
        <td class="align-middle">{{ item.theme_mission }}</td>
        <td class="align-middle">{{ item.debut_theo }}</td>
        <td class="align-middle">{{ item.fin_theo }}</td>
        <td class="align-middle">{{ item.statut_mission }}</td>
        <td class="align-middle">{{ item.etat_mission }}</td>
        <td>
            <div class="d-flex gap-2">
                <div class="edit">
                    <button class="btn btn-success btn-sm" hx-get="{% url 'services:edit_mission' pk=item.idmission %}" hx-target="#dialog">Modifier</button>
                </div>
                <div class="remove">
                    <button class="btn btn-sm btn-danger remove-item-btn" hx-get="{% url 'services:del_mission' pk=item.idmission %}" hx-target="#dialog" >Supprimer</button>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}