<!-- ========== App Menu ========== -->
<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a # class="logo logo-dark">
            <span class="logo-sm">
                <img src="{% static 'assets/images/fav-icon.png' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'assets/images/horizontal_logo.jpeg' %}" alt="" width="200px" height="auto">
            </span>
        </a>
        <!-- Light Logo-->
        <a # class="logo logo-light">
            <span class="logo-sm">
                <img src="{% static 'assets/images/fav-icon.png' %}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{% static 'assets/images/horizontal_logo.jpeg' %}" alt="" width="200px" height="auto">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>
    <div id="scrollbar">
        <!--                   Debut SideBar Menu Adaptatif    -->
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                {% if userType.is_superuser %}
                <li class="menu-title"><span data-key="t-menu">Menu super Administrateur </span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Paramétrages Généraux</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a # class="nav-link" data-key="t-analytics"> Repertoire Racine </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'services:risque_famille' %}" class="nav-link" data-key="t-crm"> Famille de risques </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'services:gravite_risque' %}" class="nav-link" data-key="t-projects"> Gravité de Risques </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Evaluations Impact risque </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'services:corps_control' %}" class="nav-link" data-key="t-crm"> Corps de Controles </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-projects"> Type de Missions </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'services:gestion_filiale_admin' %}" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Gestions des Filiales</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Profils</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'services:profil_sAdmin' %}" target="_blank" class="nav-link" data-key="t-horizontal">Profil Utilisateur</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link" data-key="t-detached">Profil Auditeur</a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'services:liste-utilisateur_spAdmin' %}" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-account-circle-line"></i> <span data-key="t-apps">Utilisateurs</span>
                    </a>
                </li>
                {% endif %}
                {% if userType.is_admin %}
                <li class="menu-title"><span data-key="t-menu">Menu Admin Filiere</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Paramétrages Filiale</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'services:liste-pole' %}" class="nav-link" data-key="t-analytics"> Pole </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'services:liste-processus' %}" class="nav-link" data-key="t-crm"> Processus </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-projects"> Matrice de competence </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Catalogue de formation </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'services:gestion_filiale' %}" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Gestions des Filiales</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'services:liste-utilisateur' %}" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Utilisateurs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Auditeurs</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link" data-key="t-horizontal">Matrice de Competence </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link" data-key="t-detached">Formation</a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a href="#sidebarEcommerce" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarEcommerce" data-key="t-ecommerce">
                        Activités et Risques
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarEcommerce">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="{% url 'services:activite' %}" class="nav-link" data-key="t-products"> Activités </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-product-Details"> Risques </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-create-product">Contrôles</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-orders">
                                    Suivi plan de couverture </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#sidebarProjects" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProjects" data-key="t-projects">
                        Documents
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarProjects">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-overview"> Categories de Documents </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-create-project"> Liste de Documents </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if userType.is_auditeur %}
                <li class="menu-title"><span data-key="t-menu">Menu Auditeur</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="{% url 'services:gestion_filiale' %}" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span data-key="t-layouts">Auditeurs</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link" data-key="t-horizontal">Matrice de Competence </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" target="_blank" class="nav-link" data-key="t-detached">Formation</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Document</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#sidebarEcommerce" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarEcommerce" data-key="t-ecommerce">
                        Activités et Risques
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarEcommerce">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-products"> Activités </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-product-Details"> Risques </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-create-product">Contrôles</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-orders">
                                    Suivi plan de couverture </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Mission</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarDashboards">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Initialisation </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-crm"> Execution </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-projects"> Finalisation </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-analytics"> Mise a jour TPA </a>
                            </li>
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" <i class="ri-apps-2-line"></i> <span data-key="t-apps">Suivi et Recommandations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" <i class="ri-apps-2-line"></i> <span data-key="t-apps">Traitement de jutifs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLanding" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarLanding">
                        <i class="ri-rocket-line"></i> <span data-key="t-landing">Reporting et statistique</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLanding">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-key="t-one-page"> Reporting </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"> <span data-key="t-nft-landing">Statistique</span>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% if userType.is_rmo %}
                <li class="menu-title"><span data-key="t-menu">Menu RMO</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Documents</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" aria-expanded="false" aria-controls="sidebarApps">
                        <i class="ri-apps-2-line"></i> <span data-key="t-apps">Suivie et recommendation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" <i class="ri-apps-2-line"></i> <span data-key="t-apps">Traitement et justificatifs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#" role="button" <i class="ri-apps-2-line"></i> <span data-key="t-apps">Statistiques</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Fin SideBar Menu Adaptatif -->
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->