{% extends 'base_form_modal.html' %}
{% load static %}
{% block modal-size %}modal-xl{% endblock modal-size %}
{% block form_modal %}
    <div class="mb-3" id="modal-id">
        <label for="libsys" class="form-label">Système </label>
        <input type="text" id="libsys" name="libsys" value="{{data.libsys}}" class="form-control" placeholder="Système" />
    </div>
    <div class="mb-3" id="modal-id">
        <label for="libfamillerisk" class="form-label">Filiale </label>
        <select class="custom-select" aria-label="Default select example" name="idfiliale">
            {% if not data.idfiliale %}
                {% for filiale in data_filiale_list %}
                    {% if IdFiliale == filiale.idfiliale %}
                        <option value="{{ IdFiliale }}" >{{ filiale.sigle_filiale }}</option>
                    {% endif %}
                {% empty %}
                    <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% else %}
                {% for filiale in data_filiale_list %}
                    {% if IdFiliale == filiale.idfiliale %}
                        <option value="{{ IdFiliale }}" {% if data.idfiliale == filiale.idfiliale %}selected{% endif %} >{{ filiale.sigle_filiale }}</option>
                    {% endif %}
                {% empty %}
                    <option value="">Pas d'elements trouvés</option>
                {% endfor %}
            {% endif %}
        </select>
        <label for="processus_list" class="form-label mt-3"> Processus </label>
        {% comment %} <div class="form-row" id="processus_list">
            {% for processu in processus %}
                <div class="form-check form-switch form-check-inline my-2">
                    <input class="form-check-input" type="checkbox" role="switch" name="processus{{processu.idprocessus}}" id="formCheck{{forloop.counter}}" {% if processu in processus_systeme %} checked {% endif %}>
                    <label class="form-check-label" for="formCheck{{forloop.counter}}">{{processu.libprocessus}}</label>
                </div>
                {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
            {% endfor %}
        </div> {% endcomment %}

        <div class="row">
            <div class="col">
                <div>
                    <select multiple="multiple" name="processus" id="multiselect-header">
                        {% for processu in processus %}
                            <option {% if processu in processus_systeme %} selected {% endif %}>{{processu.libprocessus}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock form_modal %}
