{% extends 'base_form_modal.html' %}
{% block form_modal %}
    <div class="mb-3">
        <label class="small mb-1" for="fichier_excel">Importation du fichier excel</label>
        <input class="form-control" type="file" name="fichier_excel" accept=".xlsx" id="fichier_excel" placeholder="Cliquez pour ajouter le fichier." required />
    </div>    
{% endblock form_modal %}

{% block action_button %}
    <button class="btn btn-primary" type="submit">Importer</button>
{% endblock action_button %}
