{% for item in data_list %}
    {% for filiale in data_filiale_list %}
        {% if item.idfiliale == filiale.idfiliale and filiale.sigle_filiale == userFiliale %}
            <tr  id="movie-{{ item.pk }}">
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                    </div>
                </th>
                {% if item.idsysteme %}
                    {% for systeme in data_systeme_list %}
                        {% if systeme.id_sys == item.idsysteme %}
                            <td class="date">{{systeme.libsys}}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td class="date"> - </td>
                {% endif %}
                {% if item.idprocessus %}
                    {% for processus in data_processus_list %}
                        {% if processus.idprocessus == item.idprocessus %}
                            <td class="date">{{processus.libprocessus}}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td class="date"> - </td>
                {% endif %}
                {% if item.idsite %}
                    {% for site in data_site_list %}
                        {% if site.id_site == item.idsite %}
                            <td class="date">{{site.lib_site}}</td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td class="date"> - </td>
                {% endif %}
                <td class="date">
                    {% if item.criticite_carto == '1' %}Faible
                        {% elif item.criticite_carto == '2' %}Modéré
                        {% elif item.criticite_carto == '3' %}Élevé
                        {% elif item.criticite_carto == '4' %}Critique
                        {% else %} -
                    {% endif %}
                </td>
                <td class="date">{% if item.annee_theo_last_audit %}{{ item.annee_theo_last_audit }}{% else %} - {% endif %}</td>
                <td class="date">{% if item.annee_eff_last_audit %}{{ item.annee_eff_last_audit }}{% else %} - {% endif %}</td>
                <td class="date">
                    {% if item.criticite_audit == '1' %}Faible
                        {% elif item.criticite_audit == '2' %}Modéré
                        {% elif item.criticite_audit == '3' %}Élevé
                        {% elif item.criticite_audit == '4' %}Critique
                        {% else %} -
                    {% endif %}
                </td>
                <td class="date">{% if item.annee_theo_proch %}{{ item.annee_theo_proch }}{% else %} - {% endif %}</td>
                <td>
                    <div class="d-flex gap-2">
                        <div class="edit">
                            <button class="btn btn-sm btn-success edit-item-btn" hx-get="{% url 'services:edit_planaudit' pk=item.id %}" hx-target="#edit_data"  data-bs-toggle="modal" data-bs-target="#showModal">Modifier</button>
                        </div>
                        <div class="remove">
                            <button class="btn btn-sm btn-danger remove-item-btn" hx-get="{% url 'services:del_planaudit' pk=item.id %}" hx-target="#delete_data" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Supprimer</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
