<div class="card-header">
    <h4>Validation du plan d'audit - {{annee_plan_audit}} </h4>
</div><!-- end card header -->
<div class="card-body">
    <form id="customerList" method="POST" action="{% url 'services:enregistrer_plan_annuel' %}">
        {% csrf_token %}
        <div class="row g-4 mb-3">
            <div class="col-sm-auto">
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                    <div class="search-box ms-2">
                        <input type="text" class="form-control search" placeholder="Search...">
                        <i class="ri-search-line search-icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive table-card mt-3 mb-1">
            <table class="table align-middle table-nowrap" id="customerTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col" style="width: 25px;">
                        </th>
                        <th>Année de référence</th>
                        <th>Système</th>
                        <th>Processus</th>
                        <th>Site</th>
                        <th>Criticité cartographie</th>
                        <th>Année théorique dernier audit</th>
                        <th>Année de réalisation</th>
                        <th>Criticité mission</th>
                        <th>Année prochaine mission</th>
                        <th>Validation</th>
                        <th>Sélectionner</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    {% for item in plans_audit_annuel %}
                        <tr  id="movie-{{ item.pk }}">
                            <th scope="row">
                            </th>
                            <td class="date">{% if item.anne_ref_cycle %}{{ item.anne_ref_cycle }}{% else %} - {% endif %}</td>
                            {% if item.idsysteme %}
                                {% for systeme in data_systeme_list %}
                                    {% if systeme.id_sys == item.idsysteme %}
                                        <td class="date">{{systeme.libsys}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td class="date"> - </td>
                            {% endif %}
                            {% if item.idprocessus %}
                                {% for processus in data_processus_list %}
                                    {% if processus.idprocessus == item.idprocessus %}
                                        <td class="date">{{processus.libprocessus}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td class="date"> - </td>
                            {% endif %}
                            {% if item.idsite %}
                                {% for site in data_site_list %}
                                    {% if site.id_site == item.idsite %}
                                        <td class="date">{{site.lib_site}}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td class="date"> - </td>
                            {% endif %}
                            <td class="date">
                                {% if item.criticite_carto == '1' %}Faible
                                    {% elif item.criticite_carto == '2' %}Modéré
                                    {% elif item.criticite_carto == '3' %}Élevé
                                    {% elif item.criticite_carto == '4' %}Critique
                                    {% else %} -
                                {% endif %}
                            </td>
                            <td class="date">{% if item.annee_theo_last_audit %}{{ item.annee_theo_last_audit }}{% else %} - {% endif %}</td>
                            <td class="date">{% if item.annee_eff_last_audit %}{{ item.annee_eff_last_audit }}{% else %} - {% endif %}</td>
                            <td class="date">
                                {% if item.criticite_audit == '1' %}Faible
                                    {% elif item.criticite_audit == '2' %}Modéré
                                    {% elif item.criticite_audit == '3' %}Élevé
                                    {% elif item.criticite_audit == '4' %}Critique
                                    {% else %} -
                                {% endif %}
                            </td>
                            <td class="date">{% if item.annee_theo_proch %}{{ item.annee_theo_proch }}{% else %} - {% endif %}</td>
                            <td class="date">{% if item.valid_plan %} Validé {% else %} En attente {% endif %}</td>
                            <td>
                                <input class="form-check-input form-check-lg" type="checkbox" name="planaudit{{item.id}}" style="text-size: 1.5em;">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="noresult" style ="display: none">
                <div class="text-center">
                </div>
            </div>
        </div>
        <input class="d-none" type="text" name="annee_reference" value="{{annee_plan_audit}}">
        <div class="d-flex justify-content-end">
            <div class="">
                <button type="submit" class="btn w-sm btn-primary"> Confirmer </button>
            </div>
        </div>
    </form>
</div><!-- end card -->

